# **Part 05) 파이썬으로 초보 분석가 탈출하기**

## **1_데이터 분석 연습하기**

In [1]:
### ① 모듈명 찾기 → from sklearn.??? ###

# sklearn 패키지를 가져오기
import sklearn
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', 'base', 'clone', 'config_context', 'exceptions', 'get_config', 'logger', 'logging', 'os', 'random', 'set_config', 'setup_module', 'show_versions', 'sys', 'utils']

In [2]:
### ② 함수명 찾기 → from sklearn.preprocessing import ??? ###

# sklearn.preprocessing 모듈을 가져오기
import sklearn.preprocessing

# preprocessing 모듈에 있는 함수명 확인하기
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [3]:
### ③ 함수의 파라미터 확인하기 ###

# preprocessing 모듈에서 StandardScaler 함수를 가져오기
from sklearn.preprocessing import StandardScaler

# StandardScaler 함수에 대한 자세한 내용을 확인하기
print(help(StandardScaler))

Help on class StandardScaler in module sklearn.preprocessing._data:

class StandardScaler(sklearn.base.TransformerMixin, sklearn.base.BaseEstimator)
 |  StandardScaler(*, copy=True, with_mean=True, with_std=True)
 |
 |  Standardize features by removing the mean and scaling to unit variance
 |
 |  The standard score of a sample `x` is calculated as:
 |
 |      z = (x - u) / s
 |
 |  where `u` is the mean of the training samples or zero if `with_mean=False`,
 |  and `s` is the standard deviation of the training samples or one if
 |  `with_std=False`.
 |
 |  Centering and scaling happen independently on each feature by computing
 |  the relevant statistics on the samples in the training set. Mean and
 |  standard deviation are then stored to be used on later data using
 |  :meth:`transform`.
 |
 |  Standardization of a dataset is a common requirement for many
 |  machine learning estimators: they might behave badly if the
 |  individual features do not more or less look like standard normally
 |  distributed data (e.g. Gaussian with 0 mean and unit variance).
 |
 |  For instance many elements used in the objective function of
 |  a learning algorithm (such as the RBF kernel of Support Vector
 |  Machines or the L1 and L2 regularizers of linear models) assume that
 |  all features are centered around 0 and have variance in the same
 |  order. If a feature has a variance that is orders of magnitude larger
 |  that others, it might dominate the objective function and make the
 |  estimator unable to learn from other features correctly as expected.
 |
 |  This scaler can also be applied to sparse CSR or CSC matrices by passing
 |  `with_mean=False` to avoid breaking the sparsity structure of the data.
 |
 |  Read more in the :ref:`User Guide <preprocessing_scaler>`.
 |
 |  Parameters
 |  ----------
 |  copy : bool, default=True
 |      If False, try to avoid a copy and do inplace scaling instead.
 |      This is not guaranteed to always work inplace; e.g. if the data is
 |      not a NumPy array or scipy.sparse CSR matrix, a copy may still be
 |      returned.
 |
 |  with_mean : bool, default=True
 |      If True, center the data before scaling.
 |      This does not work (and will raise an exception) when attempted on
 |      sparse matrices, because centering them entails building a dense
 |      matrix which in common use cases is likely to be too large to fit in
 |      memory.
 |
 |  with_std : bool, default=True
 |      If True, scale the data to unit variance (or equivalently,
 |      unit standard deviation).
 |
 |  Attributes
 |  ----------
 |  scale_ : ndarray of shape (n_features,) or None
 |      Per feature relative scaling of the data to achieve zero mean and unit
 |      variance. Generally this is calculated using `np.sqrt(var_)`. If a
 |      variance is zero, we can't achieve unit variance, and the data is left
 |      as-is, giving a scaling factor of 1. `scale_` is equal to `None`
 |      when `with_std=False`.
 |
 |      .. versionadded:: 0.17
 |         *scale_*
 |
 |  mean_ : ndarray of shape (n_features,) or None
 |      The mean value for each feature in the training set.
 |      Equal to ``None`` when ``with_mean=False``.
 |
 |  var_ : ndarray of shape (n_features,) or None
 |      The variance for each feature in the training set. Used to compute
 |      `scale_`. Equal to ``None`` when ``with_std=False``.
 |
 |  n_samples_seen_ : int or ndarray of shape (n_features,)
 |      The number of samples processed by the estimator for each feature.
 |      If there are no missing samples, the ``n_samples_seen`` will be an
 |      integer, otherwise it will be an array of dtype int. If
 |      `sample_weights` are used it will be a float (if no missing data)
 |      or an array of dtype float that sums the weights seen so far.
 |      Will be reset on new calls to fit, but increments across
 |      ``partial_fit`` calls.
 |
 |  Examples
 |  --------
 |  >>> from sklearn.preprocessing import StandardScaler
 |  >>> data = [[0, 0], [0, 0], [1, 1], [1, 1]]
 |  >>> scaler = StandardScaler()
 |  >>> print(scaler.fit(data))
 |  StandardScaler()
 |  >>> print(scaler.mean_)
 |  [0.5 0.5]
 |  >>> print(scaler.transform(data))
 |  [[-1. -1.]
 |   [-1. -1.]
 |   [ 1.  1.]
 |   [ 1.  1.]]
 |  >>> print(scaler.transform([[2, 2]]))
 |  [[3. 3.]]
 |
 |  See Also
 |  --------
 |  scale : Equivalent function without the estimator API.
 |
 |  :class:`~sklearn.decomposition.PCA` : Further removes the linear
 |      correlation across features with 'whiten=True'.
 |
 |  Notes
 |  -----
 |  NaNs are treated as missing values: disregarded in fit, and maintained in
 |  transform.
 |
 |  We use a biased estimator for the standard deviation, equivalent to
 |  `numpy.std(x, ddof=0)`. Note that the choice of `ddof` is unlikely to
 |  affect model performance.
 |
 |  For a comparison of the different scalers, transformers, and normalizers,
 |  see :ref:`examples/preprocessing/plot_all_scaling.py
 |  <sphx_glr_auto_examples_preprocessing_plot_all_scaling.py>`.
 |
 |  Method resolution order:
 |      StandardScaler
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, copy=True, with_mean=True, with_std=True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None, sample_weight=None)
 |      Compute the mean and std to be used for later scaling.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  inverse_transform(self, X, copy=None)
 |      Scale back the data to the original representation
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  partial_fit(self, X, y=None, sample_weight=None)
 |      Online computation of mean and std on X for later scaling.
 |
 |      All of X is processed as a single batch. This is intended for cases
 |      when :meth:`fit` is not feasible due to very large number of
 |      `n_samples` or because X is read from a continuous stream.
 |
 |      The algorithm for incremental mean and std is given in Equation 1.5a,b
 |      in Chan, Tony F., Gene H. Golub, and Randall J. LeVeque. "Algorithms
 |      for computing the sample variance: Analysis and recommendations."
 |      The American Statistician 37.3 (1983): 242-247:
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The data used to compute the mean and standard deviation
 |          used for later scaling along the features axis.
 |
 |      y : None
 |          Ignored.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Individual weights for each sample.
 |
 |          .. versionadded:: 0.24
 |             parameter *sample_weight* support to StandardScaler.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted scaler.
 |
 |  transform(self, X, copy=None)
 |      Perform standardization by centering and scaling
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix of shape (n_samples, n_features)
 |          The data used to scale along the features axis.
 |      copy : bool, default=None
 |          Copy the input X or not.
 |
 |      Returns
 |      -------
 |      X_tr : {ndarray, sparse matrix} of shape (n_samples, n_features)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

None

성별 예측값(***<span style="color:green">남자일 확률</span>***) → ***`predict_proba()`***

### **1.1 데이터 탐색하기**

#### **데이터 가져오기**

In [4]:
# pandas 라이브러리 가져오기
import pandas as pd

# 주어진 데이터 파일을 모두 읽어서, DataFrame 변수에 저장하기
x_train = pd.read_csv('data/x_train.csv', encoding='cp949')
y_train = pd.read_csv('data/y_train.csv', encoding='cp949')
x_test = pd.read_csv('data/x_test.csv', encoding='cp949')

**`UnicodeDecodeError`** 발생 시 `read_csv()` 함수 안에 **`encoding='cp949'`** 코드 추가

In [5]:
# x_train, x_test, y_train의 상위 5개의 행 확인하기
print(x_train.head())
print(x_test.head())
print(y_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85
   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

생략 없이 모든 컬럼을 확인하고 싶다면,
- `transpose()`, `T` 함수
- `pd.options.display.max_columns = None`

In [6]:
### (1) T, transpose() 함수 ###

# 행과 열을 바꾸어 데이터 조회하기
print(x_train.head().T)

                 0         1        2         3         4
cust_id          0         1        2         3         4
총구매액      68282840   2136000  3197000  16077620  29050000
최대구매액     11264000   2136000  1639000   4935000  24000000
환불금액     6860000.0  300000.0      NaN       NaN       NaN
주구매상품           기타       스포츠   남성 캐주얼        기타        보석
주구매지점          강남점       잠실점      관악점       광주점      본  점
내점일수            19         2        2        18         2
내점당구매건수   3.894737       1.5      2.0  2.444444       1.5
주말방문비율    0.527027       0.0      0.0  0.318182       0.0
구매주기            17         1        1        16        85

In [7]:
### (2) 전체 컬럼을 출력하는 옵션 설정 ###

# 전체 컬럼을 출력하는 옵션 설정하기
pd.options.display.max_columns = None

# 전체 컬럼으로 출력된 결과 확인하기
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

#### **행/열 확인하기**

In [8]:
# 각 데이터 세트의 행과 열의 개수를 확인하기
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(3500, 10)
(2482, 10)
(3500, 2)

#### **요약 정보 확인하기**

In [9]:
# x_train 세트의 요약 정보 확인하기
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

#### **기초통계량 확인하기**

In [10]:
# x_train의 기초통계량을 확인하고, 가독성을 위해 행/열을 바꿔서 출력하기
print(x_train.describe().T)

          count          mean           std         min           25%  \
cust_id  3500.0  1.749500e+03  1.010507e+03         0.0  8.747500e+02
총구매액     3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액    3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
환불금액     1205.0  2.407822e+07  4.746453e+07      5600.0  2.259000e+06
내점일수     3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수  3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율   3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기     3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00

                  50%           75%           max
cust_id  1.749500e+03  2.624250e+03  3.499000e+03
총구매액     2.822270e+07  1.065079e+08  2.323180e+09
최대구매액    9.837000e+06  2.296250e+07  7.066290e+08
환불금액     7.392000e+06  2.412000e+07  5.637530e+08
내점일수     8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수  2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율   2.564103e-01  4.489796e-01  1.000000e+00
구매주기     1.300000e+01  2.800000e+01  1.660000e+02

### **1.2 전처리하기**

**테스트 데이터인 x_test도** 값을 예측하는 과정에 사용하므로 <span style="color:red">**동일한 전처리 과정을 적용**</span>해야 함-!!

#### **불필요한 컬럼 삭제하기**

추후 테스트 데이터의 `cust_id` 컬럼 값은 최종 제출하는 결과 파일에 포함되어야 하므로 `x_test_cust_id` 변수를 별도로 저장하여 관리

In [11]:
# 테스트 데이터의 cust_id 값은 x_test_cust_id 변수에 저장하기
x_test_cust_id = x_test['cust_id']

In [12]:
# cust_id 컬럼을 삭제하기
x_train = x_train.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])

# 컬럼이 삭제된 상위 5개의 행 확인하기
print(x_train.head())
print(y_train.head())

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85
   gender
0       0
1       0
2       1
3       1
4       0

#### **결측치 처리하기**

In [13]:
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [14]:
# '환불금액' 컬럼의 결측치를 0으로 대치하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 결측치가 조치되었는지, '환불금액' 컬럼의 결측치 개수를 확인하기
print(x_train['환불금액'].isnull().sum())
print(x_test['환불금액'].isnull().sum())

0
0

#### **범주형 변수를 인코딩하기**

In [15]:
# '주구매상품' 컬럼에서 중복을 제외한 값들을 확인하기
print(x_train['주구매상품'].unique())

# '주구매상품' 컬럼에서 중복을 제외한 값들의 개수 세기
print(x_train['주구매상품'].unique().size)

# '주구매지점' 컬럼에서 중복을 제외한 값들을 확인하기
print(x_train['주구매지점'].unique())

# '주구매지점' 컬럼에서 중복을 제외한 값들의 개수 세기
print(x_train['주구매지점'].unique().size)

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']
42
['강남점' '잠실점' '관악점' '광주점' '본  점' '일산점' '대전점' '부산본점' '분당점' '영등포점' '미아점'
 '청량리점' '안양점' '부평점' '동래점' '포항점' '노원점' '창원점' '센텀시티점' '인천점' '대구점' '전주점'
 '울산점' '상인점']
24

In [16]:
# sklearn 패키지의 preprocessing 모듈에서 LabelEncoder 함수를 가져오기
from sklearn.preprocessing import LabelEncoder

# 라벨 인코딩 수행을 위한 encoder 함수 만들기
encoder = LabelEncoder()

In [17]:
# '주구매상품'에 대해 라벨 인코딩을 수행한 후, '주구매상품' 컬럼으로 다시 저장하기
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])

# 라벨 인코딩 결과를 확인하기 위해 상위 10개의 행 확인하기
print(x_train['주구매상품'].head(10))

0     5
1    21
2     6
3     5
4    15
5    11
6    22
7    13
8     5
9     9
Name: 주구매상품, dtype: int32

**라벨 인코딩의 변환 결과**는 **`classes_`** 키워드를 통해서 확인

In [18]:
# '주구매상품' 컬럼에 대한 라벨 인코딩의 변환 순서 확인하기
print(encoder.classes_)

# 테스트 데이터도 라벨 인코딩 수행하기
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])

['가공식품' '가구' '건강식품' '골프' '구두' '기타' '남성 캐주얼' '남성 트랜디' '남성정장' '농산물' '대형가전'
 '디자이너' '란제리/내의' '명품' '모피/피혁' '보석' '생활잡화' '섬유잡화' '셔츠' '소형가전' '수산품' '스포츠'
 '시티웨어' '식기' '아동' '악기' '액세서리' '육류' '일용잡화' '젓갈/반찬' '주류' '주방가전' '주방용품'
 '차/커피' '축산가공' '침구/수예' '캐주얼' '커리어' '통신/컴퓨터' '트래디셔널' '피혁잡화' '화장품']

In [19]:
# '주구매지점'에 대해 라벨 인코딩을 수행한 후, '주구매지점' 컬럼으로 다시 저장하기
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])

# 라벨 인코딩 결과를 확인하기 위해 상위 10개의 행 확인하기
print(x_train['주구매지점'].head(10))

# '주구매지점' 컬럼에 대한 라벨 인코딩의 변환 순서 확인하기
print(encoder.classes_)

# 테스트 데이터의 '주구매지점' 컬럼도 라벨 인코딩 수행하기
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

0     0
1    19
2     1
3     2
4     8
5    18
6     0
7     8
8     8
9     5
Name: 주구매지점, dtype: int32
['강남점' '관악점' '광주점' '노원점' '대구점' '대전점' '동래점' '미아점' '본  점' '부산본점' '부평점' '분당점'
 '상인점' '센텀시티점' '안양점' '영등포점' '울산점' '인천점' '일산점' '잠실점' '전주점' '창원점' '청량리점'
 '포항점']

#### **파생변수 만들기**

In [20]:
# '환불금액' 컬럼이 0보다 큰지에 대한 조건을 condition 변수에 저장하기
condition = x_train['환불금액']>0

In [21]:
# condition 조건에 맞으면, '환불금액_new' 컬럼을 1로 설정하기
x_train.loc[condition, '환불금액_new'] = 1

# condition 조건에 맞지 않으면, '환불금액_new' 컬럼을 0으로 설정하기
x_train.loc[~condition, '환불금액_new'] = 0

In [22]:
# '환불금액', '환불금액_new' 컬럼을 비교하기
print(x_train[['환불금액', '환불금액_new']])

           환불금액  환불금액_new
0     6860000.0       1.0
1      300000.0       1.0
2           0.0       0.0
3           0.0       0.0
4           0.0       0.0
...         ...       ...
3495        0.0       0.0
3496  6049600.0       1.0
3497        0.0       0.0
3498        0.0       0.0
3499  5973000.0       1.0

[3500 rows x 2 columns]

In [23]:
# '환불금액' 컬럼의 삭제 내용은 바로 데이터 세트에 반영하기
x_train = x_train.drop(columns=['환불금액'])

In [24]:
# 테스트 데이터 세트에서도 '환불금액_new'라는 파생변수 만들기 → ~는 not의 의미
condition = x_test['환불금액']>0   # 교재가 틀린 부분
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0

# '환불금액' 컬럼의 삭제 내용은 바로 데이터 세트에 반영하기
x_test = x_test.drop(columns=['환불금액'])

In [25]:
x_train[2477:2482]

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
2477,45995960,16518600,11,2,9,2.444444,0.045455,29,0.0
2478,98966360,19992000,0,9,14,2.428571,0.147059,24,0.0
2479,24255000,8950000,6,11,7,1.000000,0.285714,31,1.0
2480,692850,462500,5,8,2,3.500000,0.000000,4,0.0
2481,50978750,12636000,11,8,11,2.000000,0.500000,30,0.0

In [26]:
x_test

,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
0,70900400,22000000,3,9,13,1.461538,0.789474,26,1.0
1,310533100,38558000,9,19,90,2.433333,0.369863,3,1.0
2,305264140,14825000,0,8,101,14.623762,0.083277,3,1.0
3,7594080,5225000,31,9,5,2.000000,0.000000,47,0.0
4,1795790,1411200,19,22,3,2.666667,0.125000,8,0.0
...,...,...,...,...,...,...,...,...,...
2477,82581500,23976000,3,9,8,1.750000,0.642857,40,0.0
2478,480000,480000,17,2,1,1.000000,0.000000,0,0.0
2479,260003790,25750000,6,8,19,3.736842,0.915493,18,0.0
2480,88991520,18120000,26,8,5,3.600000,0.444444,60,0.0
2481,623700,209000,0,15,2,5.000000,0.000000,31,0.0

#### **표준화 크기로 변환하기**

In [27]:
# 크기변환 전, x_train 세트의 기초통계량 확인하기
print(x_train.describe().T)

           count          mean           std         min           25%  \
총구매액      3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액     3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
주구매상품     3500.0  1.461200e+01  1.301995e+01         0.0  5.000000e+00
주구매지점     3500.0  1.073429e+01  5.636480e+00         0.0  8.000000e+00
내점일수      3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수   3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율    3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기      3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00
환불금액_new  3500.0  3.442857e-01  4.752027e-01         0.0  0.000000e+00

                   50%           75%           max
총구매액      2.822270e+07  1.065079e+08  2.323180e+09
최대구매액     9.837000e+06  2.296250e+07  7.066290e+08
주구매상품     9.000000e+00  2.200000e+01  4.100000e+01
주구매지점     9.000000e+00  1.500000e+01  2.300000e+01
내점일수      8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수   2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율    2.564103e-01  4.489796e-01  1.000000e+00
구매주기      1.300000e+01  2.800000e+01  1.660000e+02
환불금액_new  0.000000e+00  1.000000e+00  1.000000e+00

In [28]:
# sklearn 패키지의 preprocessing 모듈에서 StandardScaler 함수를 가져오기
from sklearn.preprocessing import StandardScaler

# 표준화 크기변환을 수행하기 위한 scaler 객체 만들기
scaler = StandardScaler()

# scaler 객체로 표준화 크기변환을 수행하고, x_train의 컬럼명을 사용하기
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)

In [29]:
# 테스트 데이터를 표준화 크기로 변환하기
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

<span style="color:red">***테스트 데이터는 `transform()` 함수만으로 값을 변환***</span>

In [30]:
# 크기변화 후, x_train 세트의 기초통계량 확인하기
print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -3.349701e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -4.263256e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0 -6.090366e-17  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -8.767590e-17  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  4.669281e-17  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0 -2.618858e-16  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  7.917476e-17  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -4.263256e-17  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  1.218073e-17  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

#### **상관관계 확인하기**

상관계수의 절댓값이 **0.6 이상**이면 강한 상관관계 → <span style="color:blue">**다중공선성**</span>을 이유로 삭제

In [31]:
# '총구매액', '최대구매액', '환불금액_new' 컬럼 간의 상관관계 구하기
print(x_train[['총구매액', '최대구매액', '환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [32]:
# x_train 세트에서 '최대구매액' 컬럼을 삭제한 후, x_train에 저장하기
x_train = x_train.drop(columns=['최대구매액'])

In [33]:
# x_test세트에서 '최대구매액' 컬럼을 삭제한 후, x_test에 저장하기
x_test = x_test.drop(columns=['최대구매액'])

### **1.3 학습하고 평가하기**

#### **데이터 학습시키기**

In [34]:
# sklearn 패키지의 tree 모듈에서 DecisionTreeClassifier 함수를 가져오기
from sklearn.tree import DecisionTreeClassifier

# 의사결정나무 방식으로 수행되는 model 객체 만들기
model = DecisionTreeClassifier()

# x_train, y_train 세트로 model을 학습시키기
model.fit(x_train, y_train)

# 학습된 model을 활용하여 테스트 데이터의 종속변수를 예측하기
y_test_predicted = model.predict(x_test)

# 예측한 결과를 출력해보기
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  0

#### **하이퍼 파라미터 튜닝(Hyper Parameter Tuning)하기**

In [35]:
# 괄호 안에 하이퍼 파라미터를 입력하여 모델 객체를 생성하기
# model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model = DecisionTreeClassifier(random_state=10)

# x_train, y_train 세트로 model 학습시키기
model.fit(x_train, y_train)

# 학습된 model을 활용하여 테스트 데이터의 종속변수를 예측하기
y_test_predicted = model.predict(x_test)

# 예측한 결과를 출력해보기
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  0
2  0

<span style="color:orange">***GridSearchCV() 함수***</span>

In [36]:
# 하이퍼 파라미터 튜닝을 위한 GridSearchCV() 함수 가져오기
from sklearn.model_selection import GridSearchCV

# 병렬처리를 위한 Pipeline 함수 가져오기
from sklearn.pipeline import Pipeline

In [37]:
# 하이퍼 파라미터들과 튜닝할 값들을 작성하기
parameters = {'model__max_depth': [3, 4, 5, 6],
              'model__criterion': ['gini', 'entropy']}

In [38]:
# 데이터 스케일링과 의사결정나무 분류 작업을 병렬처리하도록 모델 만들기
pipeline_model = Pipeline([('scaler', StandardScaler()),
                           ('model', DecisionTreeClassifier())])

In [39]:
grid_model = GridSearchCV(pipeline_model,
                          param_grid=parameters,
                          cv=3)

In [40]:
print(grid_model.fit(x_train, y_train))

GridSearchCV(cv=3,
             estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('model', DecisionTreeClassifier())]),
             param_grid={'model__criterion': ['gini', 'entropy'],
                         'model__max_depth': [3, 4, 5, 6]})

In [41]:
best_model = grid_model.best_estimator_

In [42]:
y_test_predicted = best_model.predict(x_test)
print(pd.DataFrame(y_test_predicted))

      0
0     0
1     0
2     0
3     0
4     0
...  ..
2477  1
2478  0
2479  0
2480  0
2481  1

[2482 rows x 1 columns]

#### **결과 예측하기**

In [43]:
# model을 통해 x_test에 맞는 종속변수 확률을 구하기
y_test_proba = model.predict_proba(x_test)

# 종속변수의 0, 1에 대한 각 확률을 확인하기
print(pd.DataFrame(y_test_proba).head())

     0    1
0  0.0  1.0
1  1.0  0.0
2  1.0  0.0
3  0.0  1.0
4  1.0  0.0

In [44]:
# 성별이 남성인 확률값을 DataFrame 형태로 출력하기
print(pd.DataFrame(y_test_proba)[1])

# 위 결과를 result 변수에 저장하기
result = pd.DataFrame(y_test_proba)[1]

0       1.0
1       0.0
2       0.0
3       1.0
4       0.0
       ...
2477    1.0
2478    1.0
2479    1.0
2480    0.0
2481    1.0
Name: 1, Length: 2482, dtype: float64

#### **모델 평가하기**

In [45]:
# x_train에 대한 종속변수를 예측하기
y_train_predicted = model.predict(x_train)

# ROC-AUC 평가지표를 계산하기 위한 함수를 가져오기
from sklearn.metrics import roc_auc_score

# 학습 데이터에 대한 y_train, y_train_predicted의 ROC-AUC 결과 확인하기
print(roc_auc_score(y_train, y_train_predicted))

0.9992401215805471

In [46]:
# 테스트 데이터로 모델 평가하기
# from sklearn.model_selection import train_test_split
# X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.2, random_state=10)

### **1.4 결과 제출하기**

In [47]:
# x_test_cust_id 변수와 result 변수를 세로 방향으로 붙이기
pd.concat([x_test_cust_id, result], axis=1)

      cust_id    1
0        3500  1.0
1        3501  0.0
2        3502  0.0
3        3503  1.0
4        3504  0.0
...       ...  ...
2477     5977  1.0
2478     5978  1.0
2479     5979  1.0
2480     5980  0.0
2481     5981  1.0

[2482 rows x 2 columns]

In [48]:
# '1' 컬럼명을 'gender' 컬럼명으로 변환하여 다시 결과를 확인하기
pd.concat([x_test_cust_id, result], axis=1).rename(columns={1: 'gender'})

      cust_id  gender
0        3500     1.0
1        3501     0.0
2        3502     0.0
3        3503     1.0
4        3504     0.0
...       ...     ...
2477     5977     1.0
2478     5978     1.0
2479     5979     1.0
2480     5980     0.0
2481     5981     1.0

[2482 rows x 2 columns]

In [49]:
# 앞의 출력 결과를 final 변수에 저장하기
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1: 'gender'})

# final 변수를 data 디렉토리 하위에 12345.csv 이름으로 저장하기
final.to_csv('data/12345.csv', index=False)

***`index=False` 필수***

In [50]:
# data 디렉토리 하위의 12345.csv 파일을 final 변수에 저장하기
final = pd.read_csv('data/12345.csv')

# final 변수의 데이터 확인하기
print(final)

      cust_id  gender
0        3500     1.0
1        3501     0.0
2        3502     0.0
3        3503     1.0
4        3504     0.0
...       ...     ...
2477     5977     1.0
2478     5978     1.0
2479     5979     1.0
2480     5980     0.0
2481     5981     1.0

[2482 rows x 2 columns]

In [51]:
### 최종 제출 코드 ###

# 라이브러리와 파일 읽기
import pandas as pd
x_train = pd.read_csv('data/x_train.csv', encoding='cp949')
x_test = pd.read_csv('data/x_test.csv', encoding='cp949')
y_train = pd.read_csv('data/y_train.csv', encoding='cp949')

# 테스트 데이터의 cust_id 저장하기
x_test_cust_id = x_test['cust_id']

# cust_id 컬럼 삭제하기
x_train = x_train.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])

# 결측치 처리하기
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

# 라벨 인코딩 수행하기
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

# 파생변수 만들기
condition = x_train['환불금액']>0
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0
x_train = x_train.drop(columns=['환불금액'])
condition = x_test['환불금액']>0
x_test.loc[condition, '환불금액_new'] = 1
x_test.loc[~condition, '환불금액_new'] = 0
x_test = x_test.drop(columns=['환불금액'])

# 데이터 스케일링: 표준화 크기로 변환하기
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

# 불필요한 컬럼 삭제하기
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

# # 학습용/검증용 데이터로 분리하기
# from sklearn.model_selection import train_test_split
# X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size=0.3, random_state=10)

# 모델 학습 및 평가하기
from sklearn.tree import DecisionTreeClassifier
# model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model = DecisionTreeClassifier(random_state=10)
# model.fit(X_TRAIN, Y_TRAIN)
# y_test_proba = model.predict_proba(X_TEST)
model.fit(x_train, y_train)
y_test_proba = model.predict_proba(x_test)

# 결과 제출하기
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id, result], axis=1).rename(columns={1: 'gender'})
final.to_csv('data/12345.csv', index=False)

# 제출된 파일의 정상 여부를 확인하기
final = pd.read_csv('data/12345.csv')
print(final)

      cust_id  gender
0        3500     1.0
1        3501     0.0
2        3502     0.0
3        3503     1.0
4        3504     0.0
...       ...     ...
2477     5977     1.0
2478     5978     1.0
2479     5979     1.0
2480     5980     0.0
2481     5981     1.0

[2482 rows x 2 columns]