# **Part 04) 파이썬으로 초보 분석가 되기**

## **2_복잡한 데이터 분석**

### **2.1 그룹별 집계/요약하기**

In [1]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [2]:
# TAX 컬럼의 중위값 구하기
tax_median = data['TAX'].median()

# TAX 컬럼의 중위값 확인하기
print(tax_median)

330.0

In [3]:
# TAX 컬럼에서 tax_median보다 큰지 여부를 확인하기
print(data['TAX']>tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [4]:
# TAX 컬럼이 중위값보다 큰 값들만 추출해서 확인하기
print(data[data['TAX']>tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [5]:
# TAX 컬럼에서 중위값보다 큰 값을 기준으로 CHAS 컬럼과 RAD 컬럼만 추출하기
print(data[data['TAX']>tax_median][['CHAS', 'RAD']])

# 앞선 결과를 data_new 변수에 저장하기
data_new = data[data['TAX']>tax_median][['CHAS', 'RAD']]

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [6]:
# CHAS 컬럼에 들어있는 값 종류를 확인하기
print(data_new['CHAS'].unique())

# RAD 컬럼에 들어있는 값 종류를 확인하기
print(data_new['RAD'].unique())

[0 1]
[ 3  4  5  6  2  1 24]

In [7]:
# CHAS, RAD 컬럼 순으로 그룹을 짓고, 그룹 안에 속한 RAD 컬럼 값을 센 변수 만들기
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()

# data_new2 변수의 결과 확인하기
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [8]:
# data_new2 변수의 데이터 타입 확인하기
print(type(data_new2))

# data_new2 변수를 DataFrame으로 변경하고, data_new3 변수에 저장하기
data_new3 = pd.DataFrame(data_new2)
print(data_new3.columns)

<class 'pandas.core.series.Series'>
Index(['RAD'], dtype='object')

In [9]:
data_new3

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51
     6     17
     24   124
1    5      7
     24     8

In [10]:
# data_new3 변수에서 count 연산을 수행한 결과 컬럼 이름은 COUNT로 저장하기
data_new3.colunms = ['COUNT']

# 최종 제출 가능한 data_new 값을 확인하기
print(data_new3)

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51
     6     17
     24   124
1    5      7
     24     8

<ipython-input-10-d407f94fd02a>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data_new3.colunms = ['COUNT']

In [11]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
tax_median = data['TAX'].median()
data[data['TAX']>tax_median]
data_new = data[data['TAX']>tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [12]:
print(data_new3.columns)

Index(['COUNT'], dtype='object')

### **2.2 오름차순/내림차순 정렬하기**

In [13]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [14]:
# TAX 컬럼을 추출하여 data_asc 변수에 저장하기
data_asc = data['TAX'].copy()

# TAX 컬럼을 추출하여 data_desc 변수에 저장하기
data_desc = data['TAX'].copy()

In [15]:
# data_asc 변수를 오름차순으로 정렬하기
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [16]:
# data_asc 변수를 오름차순으로 정렬하고, 정렬된 데이터를 data_asc 변수에 저장하기
data_asc.sort_values(ascending=True, inplace=True)

# data_asc 변수를 확인하기
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [17]:
# data_desc 변수를 내림차순으로 정렬하기
print(data_desc.sort_values(ascending=False))

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [18]:
# data_desc 변수를 내림차순으로 정렬하고, 정렬된 데이터를 data_desc 변수에 저장하기
data_desc.sort_values(ascending=False, inplace=True)

# data_desc 변수를 확인하기
print(data_desc)

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [19]:
# data_asc 변수의 인덱스를 재설정하기
data_asc.reset_index(drop=True, inplace=True)

# data_asc 변수를 확인하기
print(data_asc)

# data_desc 변수의 인덱스를 재설정하기
data_desc.reset_index(drop=True, inplace=True)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [20]:
# data_asc, data_desc 변수를 컬럼 기준으로 통합한 후, data_concat 변수에 저장하기
data_concat = pd.concat([data_asc, data_desc], axis=1)

# data_concat 변수 확인하기
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [21]:
# data_concat 변수에서 첫 번째 컬럼을 추출하기
print(data_concat.iloc[:, 0])

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [22]:
# data_concat 변수에서 두 번째 컬럼을 추출하기
print(data_concat.iloc[:, 1])

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [23]:
# (첫 번째 컬럼 - 두 번째 컬럼)에 절댓값을 취한 후, data_concat 변수의 diff 컬럼에 저장하기
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:, 1])

# diff 컬럼이 추가된 data_concat 변수 확인하기
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [24]:
# diff 컬럼의 분산 구하기
print(data_concat['diff'].var())

28490.598645951555

In [25]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
data_asc.sort_values(ascending=True, inplace=True)
data_desc.sort_values(ascending=False, inplace=True)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:, 1])
print(data_concat['diff'].var())

28490.598645951555

### **2.3 최소-최대 변환하기(MinMaxScaler)**

In [26]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

# sklearn 라이브러리의 preprocessing 모듈에서 MinMaxScaler 함수를 가져오기
from sklearn.preprocessing import MinMaxScaler

In [27]:
# MinMaxScaler() 함수를 수행할 빈 박스를 생성하기
scaler = MinMaxScaler()

In [28]:
# 최소-최대 척도로 변환하기
data_minmax = scaler.fit_transform(data)

In [29]:
# data_minmax 변수의 데이터 타입 확인하기
print(type(data_minmax))

<class 'numpy.ndarray'>

In [30]:
# data_minmax 변수를 DataFrame으로 변환하기
data_minmax = pd.DataFrame(data_minmax, columns=data.columns)

# data_minmax 변수의 상위 3개 행을 출력하기
print(data_minmax.head(3))

       CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
0  0.000000  0.18  0.067815   0.0  0.314815  0.577505  0.641607  0.269203
1  0.000236  0.00  0.242302   0.0  0.172840  0.547998  0.782698  0.348962
2  0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962

        RAD       TAX   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.208015  0.287234  1.000000  0.089680  0.422222
1  0.043478  0.104962  0.553191  1.000000  0.204470  0.368889
2  0.043478  0.104962  0.553191  0.989737  0.063466  0.660000

In [31]:
# data_minmax 변수의 MEDV 컬럼에 대한 기초통계량 구하기
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [32]:
# MEDV 컬럼의 값이 0.5보다 큰지를 확인하기
print(data_minmax['MEDV']>0.5)

0      False
1      False
2       True
3       True
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: MEDV, Length: 506, dtype: bool

In [33]:
# data_minmax 변수의 MEDV 컬럼에서 0.5를 초과하는 전체 값을 출력하기
print(data_minmax[data_minmax['MEDV']>0.5])

         CRIM    ZN     INDUS  CHAS       NOX        RM       AGE       DIS  \
2    0.000236  0.00  0.242302   0.0  0.172840  0.694386  0.599382  0.348962
3    0.000293  0.00  0.063050   0.0  0.150206  0.658555  0.441813  0.448545
4    0.000705  0.00  0.063050   0.0  0.150206  0.687105  0.528321  0.448545
5    0.000264  0.00  0.063050   0.0  0.150206  0.549722  0.574665  0.448545
39   0.000240  0.75  0.091276   0.0  0.088477  0.581337  0.194645  0.388428
..        ...   ...       ...   ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  0.506173  0.662004  0.974253  0.006620
371  0.103698  0.00  0.646628   0.0  0.506173  0.508718  1.000000  0.003592
372  0.092851  0.00  0.646628   1.0  0.582305  0.443380  0.892894  0.000000
407  0.134256  0.00  0.646628   0.0  0.563786  0.392221  1.000000  0.014149
473  0.052159  0.00  0.646628   0.0  0.471193  0.655106  0.666323  0.127609

          RAD       TAX   PTRATIO         B     LSTAT      MEDV
2    0.043478  0.104962  0.553191  0.989737  0.063466  0.660000
3    0.086957  0.066794  0.648936  0.994276  0.033389  0.631111
4    0.086957  0.066794  0.648936  1.000000  0.099338  0.693333
5    0.086957  0.066794  0.648936  0.992990  0.096026  0.526667
39   0.086957  0.124046  0.606383  0.996798  0.071468  0.573333
..        ...       ...       ...       ...       ...       ...
370  1.000000  0.914122  0.808511  0.987770  0.033940  1.000000
371  1.000000  0.914122  0.808511  0.922462  0.215232  1.000000
372  1.000000  0.914122  0.808511  0.876393  0.197296  1.000000
407  1.000000  0.914122  0.808511  0.836578  0.286976  0.508889
473  1.000000  0.914122  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [34]:
# data_minmax 변수의 MEDV 컬럼에서 0.5를 초과하는 MEDV 값만 출력하기
print(data_minmax[data_minmax['MEDV']>0.5]['MEDV'])

# data_minmax 변수의 MEDV 컬럼에서 0.5를 초과하는 MEDV 값의 개수 세기
print(data_minmax[data_minmax['MEDV']>0.5]['MEDV'].count())

2      0.660000
3      0.631111
4      0.693333
5      0.526667
39     0.573333
         ...
370    1.000000
371    1.000000
372    1.000000
407    0.508889
473    0.551111
Name: MEDV, Length: 106, dtype: float64
106

In [35]:
### 최종 제출 코드 ###
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
data = pd.read_csv('data/boston.csv')
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax = pd.DataFrame(data_minmax, columns=data.columns)
print(data_minmax[data_minmax['MEDV']>0.5]['MEDV'].count())

106

### **2.4 빈도값 구하기**

##### **- 첫 번째 방법**

In [36]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [37]:
# data 변수의 AGE 컬럼 확인하기
print(data['AGE'])

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64

In [38]:
# data 변수들의 AGE 컬럼을 반올림해서 일의 자리로 만들기
print(round(data['AGE'], 0))

# 반올림한 값들을 data2 변수에 저장하기
data2 = round(data['AGE'], 0)

0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64

In [39]:
# Series인 data2 변수를 DataFrame으로 변환하여 data2에 다시 저장하기
data2 = pd.DataFrame(data2)

# data2 변수에서 AGE 컬럼으로 그룹화하고, 그룹별 AGE 컬럼의 개수 세기
print(data2.groupby(['AGE'])['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [40]:
# 그룹화 결과를 data3 변수에 저장하기
data3 = data2.groupby(['AGE'])['AGE'].count()

# data3 변수 확인하기
print(data3)

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [41]:
# data3 변수의 데이터 타입 확인하기
print(type(data3))

# data3 변수를 DataFrame 타입으로 변환하기
data3 = pd.DataFrame(data3)

# data3 벼수의 데이터 타입 확인하기
print(type(data3))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [42]:
# data3 변수의 컬럼 이름 확인하기
print(data3.columns)

# data3 변수의 유일한 컬럼은 COUNT로 설정하기
data3.columns = ['COUNT']

# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

Index(['AGE'], dtype='object')
     COUNT
AGE
3.0      1
6.0      3
7.0      3

In [43]:
# data3 변수의 기존 인덱스는 컬럼으로 사용하고, 일련번호를 새로운 인덱스로 저장하기
data3.reset_index(drop=False, inplace=True)

# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3

In [44]:
# data3 변수의 COUNT 컬럼을 기준으로 내림차순 정렬하기
data3.sort_values(by='COUNT', ascending=False, inplace=True)

# data3 변수의 상위 3개 데이터 확인하기
print(data3.head(3))

      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17

In [45]:
# data3 변수의 AGE 컬럼에서 최빈값과 그 개수를 출력하기
print(data3.iloc[0, 0], data3.iloc[0, 1])

100.0 43

##### **- 두 번쨰 방법**

In [46]:
# scipy 라이브러리의 stats 모듈에서 mode 함수 가져오기
from scipy.stats import mode

In [47]:
# data2 변수의 최빈값과 개수 구하기
print(mode(data2))

ModeResult(mode=array([[100.]]), count=array([[43]]))

In [48]:
# data2 변수의 최빈값만 추출하기
print(mode(data2)[0])

# data2 변수의 최빈값 개수만 추출하기
print(mode(data2)[1])

[[100.]]
[[43]]

In [49]:
# 최빈값을 정수형으로 변환하기
print(int(mode(data2)[0]))

# 최빈값 개수를 정수형으로 변환하기
print(int(mode(data2)[1]))

# 각 코드를 통합하여 최종 출력하기
print(int(mode(data2)[0]), int(mode(data2)[1]))

100
43
100 43

In [50]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
from scipy.stats import mode
print(int(mode(round(data['AGE'], 0))[0]), int(mode(round(data['AGE'], 0))[1]))

100 43

### **2.5 표준 변환하기(StandardScaler)**

In [51]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

# sklearn 라이브러리의 preprocessing 모듈에서 StandardScaler 함수를 가져오기
from sklearn.preprocessing import StandardScaler

In [52]:
# StandardScaler 함수를 수행할 빈 박스 생성하기
scaler = StandardScaler()

In [53]:
# 표준화 척도로 변환하기
data_stdd = scaler.fit_transform(data)

In [54]:
# data_stdd 변수의 데이터 타입 확인하기
print(type(data_stdd))

<class 'numpy.ndarray'>

In [55]:
# data_stdd 변수를 DataFrame으로 변환하기
data_stdd = pd.DataFrame(data_stdd, columns=data.columns)

In [56]:
# DIS 컬럼의 값이 0.4보다 크고, 0.6보다 작은지를 확인하기
print((data_stdd['DIS']>0.4) & (data_stdd['DIS']<0.6))

0      False
1       True
2       True
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: DIS, Length: 506, dtype: bool

In [57]:
# data_stdd 변수의 DIS 컬럼이 0.4 ~ 0.6 사이에 있는 전체 값을 출력하기
print(data_stdd[(data_stdd['DIS']>0.4) & (data_stdd['DIS']<0.6)])

         CRIM        ZN     INDUS      CHAS       NOX        RM       AGE  \
1   -0.417339 -0.487722 -0.593381 -0.272599 -0.740262  0.192116  0.367166
2   -0.417342 -0.487722 -0.593381 -0.272599 -0.740262  1.272167 -0.265812
13  -0.347230 -0.487722 -0.437258 -0.272599 -0.144217 -0.475140 -0.240919
26  -0.342325 -0.487722 -0.437258 -0.272599 -0.144217 -0.667400  0.772557
78  -0.413947 -0.487722  0.247057 -0.272599 -1.016689 -0.075069 -0.528960
84  -0.414630 -0.487722 -0.969827 -0.272599 -0.913029  0.146879 -0.731655
276 -0.408334  1.229060 -0.689681  3.668398 -0.930305  1.388089 -0.696095
277 -0.413387  1.229060 -0.689681  3.668398 -0.930305  0.764656 -1.457091
280 -0.416354  0.370669 -1.139082 -0.272599 -0.965723  2.169853 -0.144906
322 -0.379654 -0.487722 -0.548149 -0.272599 -0.532942 -0.345082 -0.664090
323 -0.387477 -0.487722 -0.548149 -0.272599 -0.532942 -0.815837  0.203588
324 -0.380824 -0.487722 -0.548149 -0.272599 -0.532942  0.183634 -1.012584
338 -0.416670 -0.487722 -0.867691 -0.272599 -0.342899 -0.319635 -1.112153
339 -0.414120 -0.487722 -0.867691 -0.272599 -0.342899 -0.424248 -0.824113
340 -0.413359 -0.487722 -0.867691 -0.272599 -0.342899 -0.448280 -0.358269

          DIS       RAD       TAX   PTRATIO         B     LSTAT      MEDV
1    0.557160 -0.867883 -0.987329 -0.303094  0.441052 -0.492439 -0.101524
2    0.557160 -0.867883 -0.987329 -0.303094  0.396427 -1.208727  1.324247
13   0.433754 -0.637962 -0.601276  1.176466  0.441052 -0.615792 -0.232129
26   0.421632 -0.637962 -0.601276  1.176466  0.221545  0.302346 -0.645712
78   0.579502 -0.523001 -0.060801  0.113032  0.325926 -0.043883 -0.145059
84   0.467933 -0.752922 -0.957633  0.020560  0.441052 -0.425156  0.148802
276  0.471641 -0.637962 -0.916058 -0.395567  0.357175 -0.925576  1.160990
277  0.507579 -0.637962 -0.916058 -0.395567  0.403225 -1.190505  1.150107
280  0.427669 -0.523001 -1.141751 -1.643945  0.335904 -1.246574  2.488808
322  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.694290 -0.232129
323  0.440219 -0.523001 -0.720062  0.529158  0.377788 -0.127988 -0.438920
324  0.440219 -0.523001 -0.720062  0.529158  0.441052 -0.915764  0.268523
338  0.483525 -0.523001 -1.094237  0.806576  0.432719 -0.580749 -0.210362
339  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.408335 -0.384502
340  0.483525 -0.523001 -1.094237  0.806576  0.441052 -0.471413 -0.417153

In [58]:
# 간소화 목적으로 앞의 결과 데이터를 data_stdd 변수에 다시 저장하기
data_stdd = data_stdd[(data_stdd['DIS']>0.4) & (data_stdd['DIS']<0.6)]

In [59]:
# data_stdd 변수의 DIS 컬럼만 추출하기
print(data_stdd['DIS'])

1      0.557160
2      0.557160
13     0.433754
26     0.421632
78     0.579502
84     0.467933
276    0.471641
277    0.507579
280    0.427669
322    0.440219
323    0.440219
324    0.440219
338    0.483525
339    0.483525
340    0.483525
Name: DIS, dtype: float64

In [60]:
# DIS 컬럼의 평균값 구하기
print(data_stdd['DIS'].mean())

# DIS 컬럼의 평균값을 소수점 셋째 자리에서 반올림하기
print(round(data_stdd['DIS'].mean(), 2))

0.479684212855197
0.48

In [61]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_stdd = scaler.fit_transform(data)
data_stdd = pd.DataFrame(data_stdd, columns=data.columns)
data_stdd = data_stdd[(data_stdd['DIS']>0.4) & (data_stdd['DIS']<0.6)]
print(round(data_stdd['DIS'].mean(), 2))

0.48

### **2.6 유니크한 값 구하기**

##### **- 첫 번째 방법**

In [62]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [63]:
# data 변수의 컬럼 목록 확인하기
print(data.columns)

# data 변수의 컬럼 목록을 data_col 변수에 저장하기
data_col = data.columns

# data_col 변수 안의 개수 구하기
print(data_col.size)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
14

In [64]:
# CHAS 컬럼에서 유일한 값들의 목록 확인하기
print(data['CHAS'].unique())

[0 1]

In [65]:
data['CHAS'].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

In [66]:
# DataFrame 타입으로 변환하기
print(pd.DataFrame(data['CHAS'].unique()))

# 결과 건수를 계산하기
print(pd.DataFrame(data['CHAS'].unique()).count())

   0
0  0
1  1
0    2
dtype: int64

In [67]:
# CHAS 컬럼의 유니크한 값 개수를 정수형으로 변환해 출력하기
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

2

In [68]:
# data 변수의 각 컬럼에 대해서 유니크한 값을 구한 후, 평균값 구하기
print((int(pd.DataFrame(data['CRIM'].unique()).count()) +
       int(pd.DataFrame(data['ZN'].unique()).count()) +
       int(pd.DataFrame(data['INDUS'].unique()).count()) +
       int(pd.DataFrame(data['CHAS'].unique()).count()) +
       int(pd.DataFrame(data['NOX'].unique()).count()) +
       int(pd.DataFrame(data['RM'].unique()).count()) +
       int(pd.DataFrame(data['AGE'].unique()).count()) +
       int(pd.DataFrame(data['DIS'].unique()).count()) +
       int(pd.DataFrame(data['RAD'].unique()).count()) +
       int(pd.DataFrame(data['TAX'].unique()).count()) +
       int(pd.DataFrame(data['PTRATIO'].unique()).count()) +
       int(pd.DataFrame(data['B'].unique()).count()) +
       int(pd.DataFrame(data['LSTAT'].unique()).count()) +
       int(pd.DataFrame(data['MEDV'].unique()).count()))
       / data_col.size)

218.0

##### **- 두 번째 방법**

In [69]:
# 최초 합계는 0으로 설정하기
sum = 0

# data 변수의 컬럼별로 유니크한 값 개수를 구한 후, sum 변수에 더하는 for문 만들기
for i in data_col:
    sum = sum + int(pd.DataFrame(data[i].unique()).count()[0])   # [0] 없어도 됨!

In [70]:
# sum 변수 확인하기
print(sum)

3052

In [71]:
# data_col 변수의 사이즈 확인하기
print(data_col.size)

# sum 변수에서 data_col.size 값을 나누기
print(sum / data_col.size)

14
218.0