# **Part 04) 파이썬으로 초보 분석가 되기**

## **2_복잡한 데이터 분석**

### **2.1 그룹별 집계/요약하기**

In [1]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [2]:
# TAX 컬럼의 중위값 구하기
tax_median = data['TAX'].median()

# TAX 컬럼의 중위값 확인하기
print(tax_median)

330.0

In [3]:
# TAX 컬럼에서 tax_median보다 큰지 여부를 확인하기
print(data['TAX']>tax_median)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: TAX, Length: 506, dtype: bool

In [4]:
# TAX 컬럼이 중위값보다 큰 값들만 추출해서 확인하기
print(data[data['TAX']>tax_median])

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
54   0.01360  75.0   4.00     0  0.410  5.888  47.6  7.3197    3  469
65   0.03584  80.0   3.37     0  0.398  6.290  17.8  6.6115    4  337
66   0.04379  80.0   3.37     0  0.398  5.787  31.1  6.6115    4  337
67   0.05789  12.5   6.07     0  0.409  5.878  21.4  6.4980    4  345
68   0.13554  12.5   6.07     0  0.409  5.594  36.8  6.4980    4  345
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
496  0.28960   0.0   9.69     0  0.585  5.390  72.9  2.7986    6  391
497  0.26838   0.0   9.69     0  0.585    NaN  70.6  2.8927    6  391
498  0.23912   0.0   9.69     0  0.585  6.019  65.3  2.4091    6  391
499  0.17783   0.0   9.69     0  0.585  5.569  73.5  2.3999    6  391
500  0.22438   0.0   9.69     0  0.585  6.027  79.7  2.4982    6  391

     PTRATIO       B  LSTAT  MEDV
54      21.1  396.90  14.80  18.9
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
67      18.9  396.21   8.10  22.0
68      18.9  396.90  13.09  17.4
..       ...     ...    ...   ...
496     19.2  396.90  21.14  19.7
497     19.2  396.90  14.10  18.3
498     19.2  396.90  12.92  21.2
499     19.2  395.77  15.10  17.5
500     19.2  396.90  14.33  16.8

[250 rows x 14 columns]

In [5]:
# TAX 컬럼에서 중위값보다 큰 값을 기준으로 CHAS 컬럼과 RAD 컬럼만 추출하기
print(data[data['TAX']>tax_median][['CHAS', 'RAD']])

# 앞선 결과를 data_new 변수에 저장하기
data_new = data[data['TAX']>tax_median][['CHAS', 'RAD']]

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [6]:
# CHAS 컬럼에 들어있는 값 종류를 확인하기
print(data_new['CHAS'].unique())

# RAD 컬럼에 들어있는 값 종류를 확인하기
print(data_new['RAD'].unique())

[0 1]
[ 3  4  5  6  2  1 24]

In [7]:
# CHAS, RAD 컬럼 순으로 그룹을 짓고, 그룹 안에 속한 RAD 컬럼 값을 센 변수 만들기
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()

# data_new2 변수의 결과 확인하기
print(data_new2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [8]:
# data_new2 변수의 데이터 타입 확인하기
print(type(data_new2))

# data_new2 변수를 DataFrame으로 변경하고, data_new3 변수에 저장하기
data_new3 = pd.DataFrame(data_new2)
print(data_new3.columns)

<class 'pandas.core.series.Series'>
Index(['RAD'], dtype='object')

In [9]:
data_new3

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51
     6     17
     24   124
1    5      7
     24     8

In [10]:
# data_new3 변수에서 count 연산을 수행한 결과 컬럼 이름은 COUNT로 저장하기
data_new3.colunms = ['COUNT']

# 최종 제출 가능한 data_new 값을 확인하기
print(data_new3)

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51
     6     17
     24   124
1    5      7
     24     8

<ipython-input-10-d407f94fd02a>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  data_new3.colunms = ['COUNT']

In [11]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
tax_median = data['TAX'].median()
data[data['TAX']>tax_median]
data_new = data[data['TAX']>tax_median][['CHAS', 'RAD']]
data_new2 = data_new.groupby(['CHAS', 'RAD'])['RAD'].count()
data_new3 = pd.DataFrame(data_new2)
data_new3.columns = ['COUNT']
print(data_new3)

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51
     6       17
     24     124
1    5        7
     24       8

In [12]:
print(data_new3.columns)

Index(['COUNT'], dtype='object')

### **2.2 오름차순/내림차순 정렬하기**

In [13]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [14]:
# TAX 컬럼을 추출하여 data_asc 변수에 저장하기
data_asc = data['TAX'].copy()

# TAX 컬럼을 추출하여 data_desc 변수에 저장하기
data_desc = data['TAX'].copy()

In [15]:
# data_asc 변수를 오름차순으로 정렬하기
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [16]:
# data_asc 변수를 오름차순으로 정렬하고, 정렬된 데이터를 data_asc 변수에 저장하기
data_asc.sort_values(ascending=True, inplace=True)

# data_asc 변수를 확인하기
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [17]:
# data_desc 변수를 내림차순으로 정렬하기
print(data_desc.sort_values(ascending=False))

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [18]:
# data_desc 변수를 내림차순으로 정렬하고, 정렬된 데이터를 data_desc 변수에 저장하기
data_desc.sort_values(ascending=False, inplace=True)

# data_desc 변수를 확인하기
print(data_desc)

492    711
491    711
490    711
489    711
488    711
      ...
121    188
120    188
125    188
124    188
353    187
Name: TAX, Length: 506, dtype: int64

In [19]:
# data_asc 변수의 인덱스를 재설정하기
data_asc.reset_index(drop=True, inplace=True)

# data_asc 변수를 확인하기
print(data_asc)

# data_desc 변수의 인덱스를 재설정하기
data_desc.reset_index(drop=True, inplace=True)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [20]:
# data_asc, data_desc 변수를 컬럼 기준으로 통합한 후, data_concat 변수에 저장하기
data_concat = pd.concat([data_asc, data_desc], axis=1)

# data_concat 변수 확인하기
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [21]:
# data_concat 변수에서 첫 번째 컬럼을 추출하기
print(data_concat.iloc[:, 0])

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [22]:
# data_concat 변수에서 두 번째 컬럼을 추출하기
print(data_concat.iloc[:, 1])

0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [23]:
# (첫 번째 컬럼 - 두 번째 컬럼)에 절댓값을 취한 후, data_concat 변수의 diff 컬럼에 저장하기
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:, 1])

# diff 컬럼이 추가된 data_concat 변수 확인하기
print(data_concat)

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]

In [24]:
# diff 컬럼의 분산 구하기
print(data_concat['diff'].var())

28490.598645951555

In [25]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()
data_asc.sort_values(ascending=True, inplace=True)
data_desc.sort_values(ascending=False, inplace=True)
data_asc.reset_index(drop=True, inplace=True)
data_desc.reset_index(drop=True, inplace=True)
data_concat = pd.concat([data_asc, data_desc], axis=1)
data_concat['diff'] = abs(data_concat.iloc[:, 0] - data_concat.iloc[:, 1])
print(data_concat['diff'].var())

28490.598645951555