# **Part 04) 파이썬으로 초보 분석가 되기**

## **1_단순한 데이터 분석**

### **1.1 Top 10 구하기**

In [1]:
# pandas 라이브러리 가져오기
import pandas as pd

# boston.csv 파일의 데이터를 읽은 후, 해당 데이터를 data 변수에 저장하기
data = pd.read_csv('data/boston.csv')

In [2]:
# data 변수의 상위 5개 행을 출력하기
print(data.head())

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        B  LSTAT  MEDV
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2

In [3]:
# data 변수를 MEDV 컬럼 기준으로 오름차순 정렬하기
print(data.sort_values(by='MEDV', ascending=True))

         CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  \
398  38.35180   0.0  18.10     0  0.693    NaN  100.0  1.4896   24  666
405  67.92080   0.0  18.10     0  0.693  5.683  100.0  1.4254   24  666
400  25.04610   0.0  18.10     0  0.693  5.987  100.0  1.5888   24  666
399   9.91655   0.0  18.10     0  0.693  5.852   77.8  1.5004   24  666
414  45.74610   0.0  18.10     0  0.693  4.519  100.0  1.6582   24  666
..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
166   2.01019   0.0  19.58     0  0.605  7.929   96.2  2.0459    5  403
195   0.01381  80.0   0.46     0  0.422  7.875   32.0  5.6484    4  255
283   0.01501  90.0   1.21     1  0.401  7.923   24.8  5.8850    1  198
225   0.52693   0.0   6.20     0  0.504  8.725   83.0  2.8944    8  307
186   0.05602   0.0   2.46     0  0.488  7.831   53.6  3.1992    3  193

     PTRATIO       B  LSTAT  MEDV
398     20.2  396.90  30.59   5.0
405     20.2  384.97  22.98   5.0
400     20.2  396.90  26.77   5.6
399     20.2  338.16  29.97   6.3
414     20.2   88.27  36.98   7.0
..       ...     ...    ...   ...
166     14.7  369.30   3.70  50.0
195     14.4  394.23   2.97  50.0
283     13.6  395.52   3.16  50.0
225     17.4  382.00   4.63  50.0
186     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [4]:
# MEDV 컬러만 추출하기
print(data.sort_values(by='MEDV', ascending=True)['MEDV'])

398     5.0
405     5.0
400     5.6
399     6.3
414     7.0
       ...
166    50.0
195    50.0
283    50.0
225    50.0
186    50.0
Name: MEDV, Length: 506, dtype: float64

In [5]:
# 상위 10개 행을 출력하기
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [6]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
print(data.sort_values(by='MEDV', ascending=True)['MEDV'].head(10))

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

### **1.2 결측치 확인하기**

In [7]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [8]:
# data의 결측치 여부 확인하기
print(data.isnull())

      CRIM     ZN  INDUS   CHAS    NOX     RM    AGE    DIS    RAD    TAX  \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
501  False  False  False  False  False  False  False  False  False  False
502  False  False  False  False  False   True  False  False  False  False
503  False  False  False  False  False  False  False  False  False  False
504  False  False  False  False  False  False  False  False  False  False
505  False  False  False  False  False  False  False  False  False  False

     PTRATIO      B  LSTAT   MEDV
0      False  False  False  False
1      False  False  False  False
2      False  False  False  False
3      False  False  False  False
4      False  False  False  False
..       ...    ...    ...    ...
501    False  False  False  False
502    False  False  False  False
503    False  False  False  False
504    False  False  False  False
505    False  False  False  False

[506 rows x 14 columns]

In [9]:
# 결측치인 True 값들을 모두 더하기
print(data.isnull().sum())

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [10]:
# RM 컬럼을 추출한 후, data_mean 변수에 저장하기
data_mean = data['RM'].copy()

# data_mean 변수에서도 결측치 개수 확인하기
print(data_mean.isnull().sum())

15

In [11]:
# data_mean 변수의 상위 3개 행 확인하기
print(data_mean.head(3))

# data_mean 평균값을 rm_mean 변수에 저장하기
rm_mean = data_mean.mean()

# RM 컬럼의 평균값(rm_mean 변수)을 출력하기
print(rm_mean)

0    6.575
1    6.421
2    7.185
Name: RM, dtype: float64
6.285101832993889

In [12]:
# data_mean의 변경 결과를 저장하지 않고 결측치를 평균값으로 대치하기
print(data_mean.fillna(rm_mean, inplace=False))

0      6.575000
1      6.421000
2      7.185000
3      6.998000
4      7.147000
         ...
501    6.593000
502    6.285102
503    6.976000
504    6.794000
505    6.030000
Name: RM, Length: 506, dtype: float64

In [13]:
# data_mean의 결측치 개수 확인하기
print(data_mean.isnull().sum())

15

In [14]:
# data_mean의 변동 결과를 저장하고 결측치를 평균값으로 대치하기
data_mean.fillna(rm_mean, inplace=True)

# data_mean의 결측치 개수 확인하기
print(data_mean.isnull().sum())

0

In [15]:
# RM 컬럼을 추출한 후, data_del 변수에 저장하기
data_del = data['RM'].copy()

# data_del 변수에서도 결측치 개수 확인하기
print(data_del.isnull().sum())

# data_del 변수의 행/열 구조 확인하기
print(data_del.shape)

15
(506,)

In [16]:
# data_del 변수의 저장과 함꼐 결측치 삭제하기
data_del.dropna(inplace=True)

In [17]:
# data_del 변수의 행/열 구조 확인하기
print(data_del.shape)

# data_del의 결측치 개수 확인하기
print(data_del.isnull().sum())

(491,)
0

In [18]:
# data_mean 변수의 표준편차 구하기
print(data_mean.std())

# data_del 변수의 표준편차 구하기
print(data_del.std())

0.6975001826300912
0.7080957287241957

In [19]:
# data_mean 변수와 data_del 변수를 빼고 나서 절댓값을 취한 결과를 확인하기
print(abs(data_mean.std() - data_del.std()))

0.010595546094104513

In [20]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
data_mean = data['RM'].copy()
rm_mean = data_mean.mean()
data_mean.fillna(rm_mean, inplace=True)
data_del = data['RM'].copy()
data_del.dropna(inplace=True)
data_del.mean()
print(abs(data_mean.std() - data_del.std()))

0.010595546094104513

### **1.3 이상값 확인하기**

In [21]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [22]:
# ZN 컬럼의 평균값을 zn_mean 변수에 저장하기
zn_mean = data['ZN'].mean()

# ZN 컬럼의 표준편차를 zn_std 변수에 저장하기
zn_std = data['ZN'].std()

In [23]:
# 평균값에서 1.5*표준편차만큼 떨어진 값 구하기
zn_max = zn_mean + (1.5*zn_std)

# 1.5*표준편차만큼 떨어진 값을 확인하기
print(zn_max)

# 평균값에서 -1.5*표준편차만큼 떨어진 값 구하기
zn_min = zn_mean - (1.5*zn_std)

# -1.5*표준편차만큼 떨어진 값을 확인하기
print(zn_min)

46.347315855409065
-23.62004312813634

In [24]:
# zn_max보다 큰지 여부를 확인하기
print(data['ZN']>zn_max)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool

In [25]:
# ZN 컬럼이 zn_max보다 큰 값들만 확인하기
print(data[data['ZN']>zn_max])

        CRIM     ZN  INDUS  CHAS     NOX     RM   AGE      DIS  RAD  TAX  \
39   0.02763   75.0   2.95     0  0.4280  6.595  21.8   5.4011    3  252
40   0.03359   75.0   2.95     0  0.4280  7.024  15.8   5.4011    3  252
54   0.01360   75.0   4.00     0  0.4100  5.888  47.6   7.3197    3  469
55   0.01311   90.0   1.22     0  0.4030  7.249  21.9   8.6966    5  226
56   0.02055   85.0   0.74     0  0.4100  6.383  35.7   9.1876    2  313
57   0.01432  100.0   1.32     0  0.4110  6.816  40.5   8.3248    5  256
65   0.03584   80.0   3.37     0  0.3980  6.290  17.8   6.6115    4  337
66   0.04379   80.0   3.37     0  0.3980  5.787  31.1   6.6115    4  337
193  0.02187   60.0   2.93     0  0.4010  6.800   9.9   6.2196    1  265
194  0.01439   60.0   2.93     0  0.4010  6.604  18.8   6.2196    1  265
195  0.01381   80.0   0.46     0  0.4220  7.875  32.0   5.6484    4  255
196  0.04011   80.0   1.52     0  0.4040  7.287  34.1   7.3090    2  329
197  0.04666   80.0   1.52     0  0.4040  7.107  36.6   7.3090    2  329
198  0.03768   80.0   1.52     0  0.4040  7.274  38.3   7.3090    2  329
199  0.03150   95.0   1.47     0  0.4030  6.975  15.3   7.6534    3  402
200  0.01778   95.0   1.47     0  0.4030  7.135  13.9   7.6534    3  402
201  0.03445   82.5   2.03     0  0.4150  6.162  38.4   6.2700    2  348
202  0.02177   82.5   2.03     0  0.4150  7.610  15.7   6.2700    2  348
203  0.03510   95.0   2.68     0  0.4161  7.853  33.2   5.1180    4  224
204  0.02009   95.0   2.68     0  0.4161  8.034  31.9   5.1180    4  224
254  0.04819   80.0   3.64     0  0.3920  6.108  32.0   9.2203    1  315
255  0.03548   80.0   3.64     0  0.3920  5.876  19.1   9.2203    1  315
256  0.01538   90.0   3.75     0  0.3940  7.454  34.2   6.3361    3  244
283  0.01501   90.0   1.21     1  0.4010  7.923  24.8   5.8850    1  198
284  0.00906   90.0   2.97     0  0.4000  7.088  20.8   7.3073    1  285
285  0.01096   55.0   2.25     0  0.3890  6.453  31.9   7.3073    1  300
286  0.01965   80.0   1.76     0  0.3850  6.230  31.5   9.0892    1  241
287  0.03871   52.5   5.32     0  0.4050  6.209  31.3   7.3172    6  293
288  0.04590   52.5   5.32     0  0.4050  6.315  45.6   7.3172    6  293
289  0.04297   52.5   5.32     0  0.4050  6.565  22.9   7.3172    6  293
290  0.03502   80.0   4.95     0  0.4110  6.861  27.9   5.1167    4  245
291  0.07886   80.0   4.95     0  0.4110  7.148  27.7   5.1167    4  245
292  0.03615   80.0   4.95     0  0.4110  6.630  23.4   5.1167    4  245
298  0.06466   70.0   2.24     0  0.4000  6.345  20.1   7.8278    5  358
299  0.05561   70.0   2.24     0  0.4000  7.041  10.0   7.8278    5  358
300  0.04417   70.0   2.24     0  0.4000  6.871  47.4   7.8278    5  358
343  0.02543   55.0   3.78     0  0.4840  6.696  56.4   5.7321    5  370
344  0.03049   55.0   3.78     0  0.4840    NaN  28.1   6.4654    5  370
347  0.01870   85.0   4.15     0  0.4290  6.516  27.7   8.5353    4  351
348  0.01501   80.0   2.01     0  0.4350  6.635  29.7   8.3440    4  280
351  0.07950   60.0   1.69     0  0.4110  6.579  35.9  10.7103    4  411
352  0.07244   60.0   1.69     0  0.4110  5.884  18.5  10.7103    4  411
353  0.01709   90.0   2.02     0  0.4100  6.728  36.1  12.1265    5  187
354  0.04301   80.0   1.91     0  0.4130  5.663  21.9  10.5857    4  334
355  0.10659   80.0   1.91     0  0.4130  5.936  19.5  10.5857    4  334

     PTRATIO       B  LSTAT  MEDV
39      18.3  395.63   4.32  30.8
40      18.3  395.62   1.98  34.9
54      21.1  396.90  14.80  18.9
55      17.9  395.93   4.81  35.4
56      17.3  396.90   5.77  24.7
57      15.1  392.90   3.95  31.6
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
193     15.6  393.37   5.03  31.1
194     15.6  376.70   4.38  29.1
195     14.4  394.23   2.97  50.0
196     12.6  396.90   4.08  33.3
197     12.6  354.31   8.61  30.3
198     12.6  392.20   6.62  34.6
199     17.0  396.90   4.56  34.9
200     17.0  384.30   4.45  32.9
201     14.7  393.77   7.43  24.1
202     14.7  395.38   3.11  42.3
203     14.7  392.78   3.81  48.5
204     14.7  390.55   2.88  50.0
254     16.4  392.89   6.57  21.9
255     16.4  395.18   9.25  20.9
256     15.9  386.34   3.11  44.0
283     13.6  395.52   3.16  50.0
284     15.3  394.72   7.85  32.2
285     15.3  394.72   8.23  22.0
286     18.2  341.60  12.93  20.1
287     16.6  396.90   7.14  23.2
288     16.6  396.90   7.60  22.3
289     16.6  371.72   9.51  24.8
290     19.2  396.90   3.33  28.5
291     19.2  396.90   3.56  37.3
292     19.2  396.90   4.70  27.9
298     14.8  368.24   4.97  22.5
299     14.8  371.58   4.74  29.0
300     14.8  390.86   6.07  24.8
343     17.6  396.90   7.18  23.9
344     17.6  387.97   4.61  31.2
347     17.9  392.43   6.36  23.1
348     17.0  390.94   5.99  24.5
351     18.3  370.78   5.49  24.1
352     18.3  392.33   7.79  18.6
353     17.0  384.46   4.50  30.1
354     22.0  382.80   8.05  18.2
355     22.0  376.04   5.57  20.6

In [26]:
# ZN 컬럼만 추출한 후, 해당 데이터를 zn_max2 변수에 저장하기
zn_max2 = data[data['ZN']>zn_max]['ZN']

# zn_max2 변수의 데이터 확인하기
print(zn_max2)

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [27]:
# ZN 컬럼이 zn_min보다 작은 값들을 확인하기
print(data[data['ZN']<zn_min])

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [28]:
# zn_max2 변숫값의 합계 구하기
print(sum(zn_max2))

3462.5

In [29]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()
zn_max = zn_mean + (1.5*zn_std)
zn_min = zn_mean - (1.5*zn_std)
zn_max2 = data[data['ZN']>zn_max]['ZN']
print(sum(zn_max2))

3462.5

### **1.4 사분위수 구하기**

In [30]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [31]:
# data 변수의 행/열 구조 확인하기
print(data.shape)

# CHAS, RAD 컬럼을 삭제하기
print(data.drop(columns=['CHAS', 'RAD']))

(506, 14)
        CRIM    ZN  INDUS    NOX     RM   AGE     DIS  TAX  PTRATIO       B  \
0    0.00632  18.0   2.31  0.538  6.575  65.2  4.0900  296     15.3  396.90
1    0.02731   0.0   7.07  0.469  6.421  78.9  4.9671  242     17.8  396.90
2    0.02729   0.0   7.07  0.469  7.185  61.1  4.9671  242     17.8  392.83
3    0.03237   0.0   2.18  0.458  6.998  45.8  6.0622  222     18.7  394.63
4    0.06905   0.0   2.18  0.458  7.147  54.2  6.0622  222     18.7  396.90
..       ...   ...    ...    ...    ...   ...     ...  ...      ...     ...
501  0.06263   0.0  11.93  0.573  6.593  69.1  2.4786  273     21.0  391.99
502  0.04527   0.0  11.93  0.573    NaN  76.7  2.2875  273     21.0  396.90
503  0.06076   0.0  11.93  0.573  6.976  91.0  2.1675  273     21.0  396.90
504  0.10959   0.0  11.93  0.573  6.794  89.3  2.3889  273     21.0  393.45
505  0.04741   0.0  11.93  0.573  6.030  80.8  2.5050  273     21.0  396.90

     LSTAT  MEDV
0     4.98  24.0
1     9.14  21.6
2     4.03  34.7
3     2.94  33.4
4     5.33  36.2
..     ...   ...
501   9.67  22.4
502   9.08  20.6
503   5.64  23.9
504   6.48  22.0
505   7.88  11.9

[506 rows x 12 columns]

In [32]:
# data 변수에서 CHAS 컬럼과 RAD 컬럼을 삭제하기
data_col12 = data.drop(columns=['CHAS', 'RAD'])

# data_col12 변수의 행/열 확인하기
print(data_col12.shape)

(506, 12)

In [33]:
# data_col12 변수의 기초통계량 정보를 data_col12_desc 변수에 저장하기
data_col12_desc = data_col12.describe()

# data_col12_desc 변수 부르기
print(data_col12_desc)

             CRIM          ZN       INDUS         NOX          RM         AGE  \
count  506.000000  506.000000  506.000000  506.000000  491.000000  506.000000
mean     3.613524   11.363636   11.136779    0.554695    6.285102   68.574901
std      8.601545   23.322453    6.860353    0.115878    0.708096   28.148861
min      0.006320    0.000000    0.460000    0.385000    3.561000    2.900000
25%      0.082045    0.000000    5.190000    0.449000    5.886000   45.025000
50%      0.256510    0.000000    9.690000    0.538000    6.209000   77.500000
75%      3.677083   12.500000   18.100000    0.624000    6.622000   94.075000
max     88.976200  100.000000   27.740000    0.871000    8.780000  100.000000

              DIS         TAX     PTRATIO           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.795043  408.237154   18.455534  356.674032   12.653063   22.532806
std      2.105710  168.537116    2.164946   91.294864    7.141062    9.197104
min      1.129600  187.000000   12.600000    0.320000    1.730000    5.000000
25%      2.100175  279.000000   17.400000  375.377500    6.950000   17.025000
50%      3.207450  330.000000   19.050000  391.440000   11.360000   21.200000
75%      5.188425  666.000000   20.200000  396.225000   16.955000   25.000000
max     12.126500  711.000000   22.000000  396.900000   37.970000   50.000000

In [34]:
# data_col12_desc 변수에서 4번, 6번 행 데이터를 가져오기
print(data_col12_desc.iloc[[4, 6]])

         CRIM    ZN  INDUS    NOX     RM     AGE       DIS    TAX  PTRATIO  \
25%  0.082045   0.0   5.19  0.449  5.886  45.025  2.100175  279.0     17.4
75%  3.677083  12.5  18.10  0.624  6.622  94.075  5.188425  666.0     20.2

            B   LSTAT    MEDV
25%  375.3775   6.950  17.025
75%  396.2250  16.955  25.000

In [35]:
# data_col12_desc 변수의 4번, 6번 데이터의 행/열 구조를 바꾸기
print(data_col12_desc.iloc[[4, 6]].T)

# 행/열이 바뀐 결과 데이터는 data_col12_desc_T 변수에 저장하기
data_col12_desc_T = data_col12_desc.iloc[[4, 6]].T

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [36]:
# data_col12_desc_T 변수의 데이터 확인하기
print(data_col12_desc_T)

                25%         75%
CRIM       0.082045    3.677083
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [37]:
# 3사분위수에서 1사분위수를 뺴서 IQR 구하기
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [38]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
data_col12 = data.drop(columns=['CHAS', 'RAD'])
data_col12_desc = data_col12.describe()
data_col12_desc_T = data_col12_desc.iloc[[4, 6]].T
print(data_col12_desc_T['75%'] - data_col12_desc_T['25%'])

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

### **1.5 순위 구하기**

In [39]:
import pandas as pd                     # 라이브러리 가져오기
data = pd.read_csv('data/boston.csv')   # csv 파일 읽고 저장하기

In [40]:
# data 변수에서 MEDV 컬럼 값을 추출하여 상위 3개의 행 확인하기
print(data['MEDV'].head(3))

0    24.0
1    21.6
2    34.7
Name: MEDV, dtype: float64

In [41]:
# MEDV 컬럼을 내림차순으로 정렬한 후, data_new 변수에 저장하기
data_new = data['MEDV'].sort_values(ascending=False)

# data_new 변수의 상위 30개 데이터 확인하기
print(data_new.head(30))

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
166    50.0
163    50.0
267    50.0
162    50.0
161    50.0
368    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [42]:
# 30번째로 큰 값을 확인하기
print(data_new.iloc[29])

# 별해
print(data.sort_values(by='MEDV', ascending=False)['MEDV'].nlargest(30).iloc[29])

41.7
41.7

In [43]:
# 1번째 ~ 29번쨰 큰 값들을 41.7로 변경하기
data_new.iloc[0:28] = 41.7

# 1번쨰 ~ 29번쨰 큰 값들을 확인하기
print(data_new.iloc[0:28])

283    41.7
225    41.7
369    41.7
370    41.7
371    41.7
372    41.7
186    41.7
204    41.7
257    41.7
195    41.7
166    41.7
163    41.7
267    41.7
162    41.7
161    41.7
368    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
Name: MEDV, dtype: float64

In [44]:
# data_new 변수에서 평균값, 중위값, 최솟값, 최댓값 구하기
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.18083003952569 21.2 5.0 42.3

In [45]:
### 최종 제출 코드 ###
import pandas as pd
data = pd.read_csv('data/boston.csv')
data_new = data['MEDV'].sort_values(ascending=False)
data_new.iloc[0:28] = 41.7
data_new.iloc[0:28] = data_new.iloc[29]
print(data_new.mean(), data_new.median(), data_new.min(), data_new.max())

22.18083003952569 21.2 5.0 42.3