# **Part 03) 파이썬으로 데이터 분석 준비하기**

## **2. 데이터 분석 절차 체득하기**

### **2.1 데이터 준비하기: 데이터 로드**

#### **분석할 데이터 가져오기**

In [1]:
import pandas as pd                     # pandas 라이브러리 가져오기
data = pd.read_csv('data/mtcars.csv')   # mtcars.csv 파일을 읽고 data라고 부르기

# data 변수의 상위 5개 데이터를 출력하기
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

#### **데이터 둘러보기**

In [2]:
print(data.shape)   # data 변수의 행/열 확인하기

(32, 12)

In [3]:
print(type(data))   # data 변수의 데이터 타입 확인하기

<class 'pandas.core.frame.DataFrame'>

In [4]:
print(data.columns)   # data 변수의 열 이름 확인하기

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

In [5]:
print(data.describe())   # 모든 수치형 변수들의 기초통계량 구하기

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [6]:
print(data['hp'].describe())   # hp 수치형 변수의 기초통계량 구하기

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

In [7]:
print(data['am'].unique())     # am 컬럼에서 중복 제거한 값들 구하기
print(data['gear'].unique())   # gear 컬럼에서 중복 제거한 값들 구하기
print(data['vs'].unique())     # vs 컬럼에서 중복 제거한 값들 구하기

['manual' 'auto']
['4' '3' '*3' '5' '*5']
[0 1]

In [8]:
print(data.info())   # 데이터 요약 정보 구하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

In [9]:
print(data.corr())   # 상관관계 구하기

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

#### **종속변수와 독립변수 분리하기**

In [10]:
X = data.drop(columns='mpg')   # 독립변수 만들기
Y = data['mpg']                # 종속변수 만들기

In [11]:
# 독립변수 X의 상위 5개 행을 확인하기
print(X.head())
# 독립변수 X의 컬럼 이름 출력하기
print(X.columns)

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2
Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [12]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64