# **Part 03) 파이썬으로 데이터 분석 준비하기**

## **2_데이터 분석 절차 체득하기**

### **2.1 데이터 준비하기: 데이터 로드(Load)**

#### **분석할 데이터 가져오기**

In [1]:
import pandas as pd                     # pandas 라이브러리 가져오기
data = pd.read_csv('data/mtcars.csv')   # mtcars.csv 파일을 읽고 data라고 부르기

# data 변수의 상위 5개 데이터를 출력하기
print(data.head())

          Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs      am  \
0          Mazda RX4  21.0  6.0  160.0  110  3.90  2.620  16.46   0  manual
1      Mazda RX4 Wag  21.0  6.0  160.0  110  3.90  2.875  17.02   0  manual
2         Datsun 710  22.8  4.0  108.0   93  3.85  2.320  18.61   1  manual
3     Hornet 4 Drive  21.4  6.0  258.0  110  3.08  3.215   0.10   1    auto
4  Hornet Sportabout  18.7  8.0  360.0  175  3.15  3.440  17.02   0    auto

  gear  carb
0    4     4
1    4     4
2    4     1
3    3     1
4    3     2

#### **데이터 둘러보기**

##### **- 데이터 모양 확인하기: shape**

In [2]:
print(data.shape)   # data 변수의 행/열 확인하기

(32, 12)

##### **- 데이터 타입 확인하기: type**

In [3]:
print(type(data))   # data 변수의 데이터 타입 확인하기

<class 'pandas.core.frame.DataFrame'>

##### **- 데이터의 열 확인하기: columns**

In [4]:
print(data.columns)   # data 변수의 열 이름 확인하기

Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')

##### **- 기초통계량 구하기: describe**

In [5]:
print(data.describe())   # 모든 수치형 변수들의 기초통계량 구하기

             mpg        cyl        disp          hp       drat         wt  \
count  32.000000  30.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   7.600000  230.721875  146.687500   3.596563   3.217250
std     6.026948   8.194195  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000  50.000000  472.000000  335.000000   4.930000   5.424000

             qsec         vs     carb
count   31.000000  32.000000  32.0000
mean    19.866774   0.437500   2.8125
std     15.310469   0.504016   1.6152
min      0.100000   0.000000   1.0000
25%     16.785000   0.000000   2.0000
50%     17.600000   0.000000   2.0000
75%     18.755000   1.000000   4.0000
max    100.000000   1.000000   8.0000

In [6]:
print(data['hp'].describe())   # hp 수치형 변수의 기초통계량 구하기

count     32.000000
mean     146.687500
std       68.562868
min       52.000000
25%       96.500000
50%      123.000000
75%      180.000000
max      335.000000
Name: hp, dtype: float64

##### **- 데이터 중복을 제거하기: unique**

In [7]:
print(data['am'].unique())     # am 컬럼에서 중복 제거한 값들 구하기
print(data['gear'].unique())   # gear 컬럼에서 중복 제거한 값들 구하기
print(data['vs'].unique())     # vs 컬럼에서 중복 제거한 값들 구하기

['manual' 'auto']
['4' '3' '*3' '5' '*5']
[0 1]

##### **- 요약 정보 확인하기: info**

In [8]:
print(data.info())   # 데이터 요약 정보 구하기

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  32 non-null     object
 1   mpg         32 non-null     float64
 2   cyl         30 non-null     float64
 3   disp        32 non-null     float64
 4   hp          32 non-null     int64
 5   drat        32 non-null     float64
 6   wt          32 non-null     float64
 7   qsec        31 non-null     float64
 8   vs          32 non-null     int64
 9   am          32 non-null     object
 10  gear        32 non-null     object
 11  carb        32 non-null     int64
dtypes: float64(6), int64(3), object(3)
memory usage: 3.1+ KB
None

##### **- 상관관계 구하기: corr**

In [9]:
print(data.corr())   # 상관관계 구하기

           mpg       cyl      disp        hp      drat        wt      qsec  \
mpg   1.000000 -0.460227 -0.847551 -0.776168  0.681172 -0.867659  0.013668
cyl  -0.460227  1.000000  0.544876  0.323293 -0.372671  0.533690 -0.012755
disp -0.847551  0.544876  1.000000  0.790949 -0.710214  0.887980  0.181810
hp   -0.776168  0.323293  0.790949  1.000000 -0.448759  0.658748  0.010807
drat  0.681172 -0.372671 -0.710214 -0.448759  1.000000 -0.712441 -0.120283
wt   -0.867659  0.533690  0.887980  0.658748 -0.712441  1.000000  0.093900
qsec  0.013668 -0.012755  0.181810  0.010807 -0.120283  0.093900  1.000000
vs    0.664039 -0.323960 -0.710416 -0.723097  0.440278 -0.554916 -0.112146
carb -0.550925  0.239980  0.394977  0.749812 -0.090790  0.427606 -0.120312

            vs      carb
mpg   0.664039 -0.550925
cyl  -0.323960  0.239980
disp -0.710416  0.394977
hp   -0.723097  0.749812
drat  0.440278 -0.090790
wt   -0.554916  0.427606
qsec -0.112146 -0.120312
vs    1.000000 -0.569607
carb -0.569607  1.000000

#### **종속변수와 독립변수 분리하기**

In [10]:
X = data.drop(columns='mpg')   # 독립변수 만들기
Y = data['mpg']                # 종속변수 만들기

In [11]:
# 독립변수 X의 상위 5개 행을 확인하기
print(X.head())
# 독립변수 X의 컬럼 이름 출력하기
print(X.columns)

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2
Index(['Unnamed: 0', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am',
       'gear', 'carb'],
      dtype='object')

In [12]:
print(Y.head())

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
Name: mpg, dtype: float64

### **2.2 데이터를 관찰하고 가공하기: 전처리(Preprocessing)**

#### **불필요한 열 삭제하기**

In [13]:
print(X.head())   # X 변수의 상위 5개 행 데이터 확인하기

          Unnamed: 0  cyl   disp   hp  drat     wt   qsec  vs      am gear  \
0          Mazda RX4  6.0  160.0  110  3.90  2.620  16.46   0  manual    4
1      Mazda RX4 Wag  6.0  160.0  110  3.90  2.875  17.02   0  manual    4
2         Datsun 710  4.0  108.0   93  3.85  2.320  18.61   1  manual    4
3     Hornet 4 Drive  6.0  258.0  110  3.08  3.215   0.10   1    auto    3
4  Hornet Sportabout  8.0  360.0  175  3.15  3.440  17.02   0    auto    3

   carb
0     4
1     4
2     1
3     1
4     2

In [14]:
# X 변수의 전체 행과 1번 열 ~ 맨끝 열까지 추출한 후, X 변수에 다시 저장하기
X = X.iloc[:, 1:]

In [15]:
print(X.head())   # X 변수의 상위 5개 행 데이터 확인하기

   cyl   disp   hp  drat     wt   qsec  vs      am gear  carb
0  6.0  160.0  110  3.90  2.620  16.46   0  manual    4     4
1  6.0  160.0  110  3.90  2.875  17.02   0  manual    4     4
2  4.0  108.0   93  3.85  2.320  18.61   1  manual    4     1
3  6.0  258.0  110  3.08  3.215   0.10   1    auto    3     1
4  8.0  360.0  175  3.15  3.440  17.02   0    auto    3     2

#### **결측값 처리하기**

##### **- 결측치 여부 확인하기**

In [16]:
# X 변수의 결측치 여부에 대한 결과를 상위 3개 행만 확인하기
X.isnull().head(3)

     cyl   disp     hp   drat     wt   qsec     vs     am   gear   carb
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False  False  False  False  False
2  False  False  False  False  False  False  False  False  False  False

In [18]:
# X 변수의 결측치 여부 값을 모두 더하기 → 결측치 개수 세기
print(X.isnull().sum())

cyl     2
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

##### **- 평균값으로 대치하기**

In [20]:
# cyl 열의 평균값을 X_cyl_mean 변수에 저장하기
X_cyl_mean = X['cyl'].mean()

# X_cyl_mean 변수 확인하기
X_cyl_mean

7.6

In [21]:
# cyl 열의 결측치를 X_cyl_mean 값으로 채운 후, 다시 cyl 열에 저장하기
X['cyl'] = X['cyl'].fillna(X_cyl_mean)

In [22]:
print(X.isnull().sum())

cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    1
vs      0
am      0
gear    0
carb    0
dtype: int64

##### **- 중위값으로 대치하기**

In [23]:
# qsec 열의 중위값을 X_qsec_mean 변수에 저장하기
X_qsec_median = X['qsec'].median()

# X_qsec_median 변수 확인하기
print(X_qsec_median)

17.6

In [24]:
# 다음에서 qsec 열 결측치를 중위값으로 대치하기
X['qsec'] = X['qsec'].fillna(X_qsec_median)

In [25]:
# qsec 열의 결측치 개수만 확인하기
print(X['qsec'].isnull().sum())

0

#### **잘못된 값을 올바르게 바꾸기**

In [26]:
# gear 열의 값을 확인하기
print(X['gear'].unique())

['4' '3' '*3' '5' '*5']

In [27]:
# gear 열의 '*3'은 '3'으로, '*5'는 '5'로 바꾼 경우의 값 확인하기
print(X['gear'].replace('*3', '3').replace('*5', '5'))

0     4
1     4
2     4
3     3
4     3
5     3
6     3
7     4
8     4
9     4
10    4
11    3
12    3
13    3
14    3
15    3
16    3
17    4
18    4
19    4
20    3
21    3
22    3
23    3
24    3
25    4
26    5
27    5
28    5
29    5
30    5
31    4
Name: gear, dtype: object

In [28]:
# gear 열의 '*3'은 '3'으로, '*5'는 '5'로 바꾼 결과를 gear 열에 저장하기
X['gear'] = X['gear'].replace('*3', '3').replace('*5', '5')

In [29]:
# gear 열에서 중복되지 않은 값을 확인하기
print(X['gear'].unique())

['4' '3' '5']

#### **이상값(Outlier) 처리하기**

***이상값 처리는 <span style="color:blue">데이터 스케일링(data scaling)보다 선행</span>되어야 함!***

##### **- 사분범위(IQR) 활용하기**

In [30]:
# X 변수의 기초통계량을 구한 후, X_describe 변수에 저장하기
X_describe = X.describe()
print(X_describe)

             cyl        disp          hp       drat         wt        qsec  \
count  32.000000   32.000000   32.000000  32.000000  32.000000   32.000000
mean    7.600000  230.721875  146.687500   3.596563   3.217250   19.795938
std     7.925459  123.938694   68.562868   0.534679   0.978457   15.066831
min     4.000000   71.100000   52.000000   2.760000   1.513000    0.100000
25%     4.000000  120.825000   96.500000   3.080000   2.581250   16.827500
50%     6.000000  196.300000  123.000000   3.695000   3.325000   17.600000
75%     8.000000  326.000000  180.000000   3.920000   3.610000   18.682500
max    50.000000  472.000000  335.000000   4.930000   5.424000  100.000000

              vs     carb
count  32.000000  32.0000
mean    0.437500   2.8125
std     0.504016   1.6152
min     0.000000   1.0000
25%     0.000000   2.0000
50%     0.000000   2.0000
75%     1.000000   4.0000
max     1.000000   8.0000

In [31]:
X_describe

,cyl,disp,hp,drat,wt,qsec,vs,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,7.600000,230.721875,146.687500,3.596563,3.217250,19.795938,0.437500,2.8125
std,7.925459,123.938694,68.562868,0.534679,0.978457,15.066831,0.504016,1.6152
min,4.000000,71.100000,52.000000,2.760000,1.513000,0.100000,0.000000,1.0000
25%,4.000000,120.825000,96.500000,3.080000,2.581250,16.827500,0.000000,2.0000
50%,6.000000,196.300000,123.000000,3.695000,3.325000,17.600000,0.000000,2.0000
75%,8.000000,326.000000,180.000000,3.920000,3.610000,18.682500,1.000000,4.0000
max,50.000000,472.000000,335.000000,4.930000,5.424000,100.000000,1.000000,8.0000

In [34]:
# X_describe 변수에서 '75%' 행과 '25%' 행을 확인하기
print(X_describe.loc['75%'], '\n', X_describe.loc['25%'])

cyl       8.0000
disp    326.0000
hp      180.0000
drat      3.9200
wt        3.6100
qsec     18.6825
vs        1.0000
carb      4.0000
Name: 75%, dtype: float64
 cyl       4.00000
disp    120.82500
hp       96.50000
drat      3.08000
wt        2.58125
qsec     16.82750
vs        0.00000
carb      2.00000
Name: 25%, dtype: float64

In [35]:
# IQR을 계산한 후, X_iqr 변수에 저장하기
X_iqr = X_describe.loc['75%'] - X_describe.loc['25%']

# X_iqr 확인하기
print(X_iqr)

cyl       4.00000
disp    205.17500
hp       83.50000
drat      0.84000
wt        1.02875
qsec      1.85500
vs        1.00000
carb      2.00000
dtype: float64

In [36]:
# 각 열의 3사분위수 + 1.5*IQR 값을 계산하기
print(X_describe.loc['75%'] + (1.5 * X_iqr))

cyl      14.000000
disp    633.762500
hp      305.250000
drat      5.180000
wt        5.153125
qsec     21.465000
vs        2.500000
carb      7.000000
dtype: float64

In [37]:
# X 변수의 최댓값 확인하기
print(X_describe.loc['max'])

cyl      50.000
disp    472.000
hp      335.000
drat      4.930
wt        5.424
qsec    100.000
vs        1.000
carb      8.000
Name: max, dtype: float64

In [38]:
# cyl 열 값이 14를 초과하는 값 추출하기
print(X.loc[X['cyl'] > 14])

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [40]:
print(X[X['cyl'] > 14])   # loc 안 써도 같은 결과

     cyl   disp   hp  drat    wt   qsec  vs    am gear  carb
14  50.0  472.0  205  2.93  5.25  17.98   0  auto    3     4

In [42]:
# X 변수에서 인덱스가 14, 열이 cyl인 값을 14로 변경하기
X.loc[14, 'cyl'] = 14

# X 변수에서 인덱스가 14, 열이 cyl인 값을 확인하기
print(X.loc[14, 'cyl'])

14.0

In [43]:
# hp 열 값이 305.25를 초과하는 값 추출하기
print(X.loc[X['hp'] > 305.25])

# X 변수에서 인덱스가 30, 열이 hp인 값을 305.25로 변경하기
X.loc[30, 'hp'] = 305.25

# X 변수에서 인덱스가 30, 열이 hp인 값을 확인하기
print(X.loc[30, 'hp'])

    cyl   disp   hp  drat    wt  qsec  vs      am gear  carb
30  8.0  301.0  335  3.54  3.57  14.6   0  manual    5     8
305.25

In [45]:
# 각 열의 1사분위수 - 1.5*IQR 값을 계산하기
print(X_describe.loc['25%'] - (1.5 * X_iqr))

cyl      -2.000000
disp   -186.937500
hp      -28.750000
drat      1.820000
wt        1.038125
qsec     14.045000
vs       -1.500000
carb     -1.000000
dtype: float64

In [46]:
# X 변수의 최솟값 확인하기
print(X_describe.loc['min'])

cyl      4.000
disp    71.100
hp      52.000
drat     2.760
wt       1.513
qsec     0.100
vs       0.000
carb     1.000
Name: min, dtype: float64

##### **- 평균과 표준편차 활용하기**